.background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(50, 50, 100, 0.7);
}
.form {
    width: 650px;
    background-color: #F5F5FA;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 15px;
    padding: 30px;
    box-shadow: 0 15px 80px 0 rgba(40, 40, 86, 0.5);
}
.title_form_block {
    background-image: linear-gradient(to right, #F0145A 30%, #EF8080 70%);
    background-clip: text;
    margin-bottom: 15px;
}
.title_form {
    font-size: 38px;
    font-weight: 700;
    line-height: 46px;
    margin: 0;
    color: transparent;
}
.close_form {
    width: 32px;
    height: 32px;
    border: none;
    padding: 0;
    background-color: #F5F5FA;
    position: absolute;
    top: 30px;
    right: 30px;
}
.input_form {
    height: 56px;
    padding: 15px;
    border-radius: 8px;
    border: none;
}
.input_form::placeholder {
    color: #B3B3BA;
}
.message {
    height: 130px;
    position: relative;
}
.message::placeholder {
    position: absolute;
    top: 15px;
    left: 15px;
}
.title {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 1px;
    color: #B3B3BA;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 0;
}
.send_form {
    height: 56px;
    padding: 18px 30px;
    border-radius: 12px;
    border: none;
    background-color: #24A3FF;
    color: #FFFFFF;
    box-shadow: 0 0 20px 0 rgba(36, 163, 255, 0.5);
    margin-top: 15px;
}
